#org_name { 
}
#org_name { 
}
#org_name { 
}
@media (min-width: 1200px) {
.style1 {
display: -webkit-box;
display: -ms-flexbox;
display: flex
}
}
.wappler-temp { 
}
.wappler-temp { 
}
.wappler-temp { 
}
.wappler-temp { 
}
.wappler-temp { 
}
.wappler-temp { 
}
@media (min-width: 992px) {
.style2 {
opacity: 0.85
}
}
.wappler-temp { 
}
.wappler-temp { 
}
.wappler-temp { 
}
.wappler-temp { 
}
.wappler-temp { 
}
.wappler-temp { 
}
.style3 {
opacity: 1
}